body {
  --gap: clamp(1rem, 6vw, 3rem);
  --full: minmax(var(--gap), 1fr);
  --content: min(64em, 100% - var(--gap) * 2);

  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [content-start] var(--content) [content-end]
    var(--full) [full-end];

    & > * {
      grid-column: content;
    }
}

main {
  display: flex;
  gap: 1em;

  @media (max-width: 62em) {
    flex-direction: column;
    gap: 0;
  }
}

form {
  width: 50%;
  margin-inline: auto;

  @media (max-width: 62em) {
    width: 100%;
  }
}
