<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>jason k&uuml;hn | web developer | philadelphia</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="a simple life in binary. the online r&eacute;sum&eacute; and sandbox of web developer jason k&uuml;hn." />
        <meta name="author" content="jason k&uuml;hn" />
        <link rel="preload" href="{{ asset('fonts/crimson-text-v19-latin-regular.woff2') }}" as="font" type="font/woff2" crossorigin>


        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {{ importmap('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
