<form action="" method="post">
    <fieldset>
        <legend><h2>What's on your mind?</h2></legend>

        <div>
            <label for="message">Message</label>
            <div>
                <textarea id="message" name="message" cols="40" rows="5" placeholder="tell me a secret."></textarea>
            </div>
        </div>

        <div>
            <div>
                <button type="submit" class="submit btn btn-success" id="tweet" name="mode" value="tweet"><i class="icon-twitter"></i> @jklmnop</button>
            </div>
        </div>
    </fieldset>
</form>
