<form action="" method="post">
    <fieldset>
        <legend><h2>What's on your mind?</h2></legend>
        <label for="message" class="sr-only">Message</label>
        <textarea id="message" name="message" cols="40" rows="5" placeholder="tell me a secret."></textarea>

        <button type="submit" class="submit btn btn-success" id="tweet" name="mode" value="tweet"><i class="icon-twitter"></i> @jklmnop</button>
    </fieldset>
</form>
