<header>
    <div>
        <h1><abbr title="Jason Kuhn">JK</abbr></h1>
        <p class="lead">is <small>short</small> for <em>just kidding</em> <abbr title="and per se and" class="amp">&amp;</abbr> <strong>Jason K&uuml;hn</strong>.</p>
    </div>
</header>
