{% extends 'base.html.twig' %}

{% block body %}
    <div id="thanks" class="thanks">🤫Mum&rsquo;s the word!</div>

    {% include 'header.html.twig' %}

    {% include 'main.html.twig' %}

    {% include 'contact.html.twig' %}

    {% include 'footer.html.twig' %}
{% endblock %}
