<main>
    <article>
        <h2>Work</h2>
        <blockquote>
            <p>I used to make things for a defense contractor $fn->fn('work-lm'); <abbr title="and per se and" class="amp">&amp;</abbr> now I make things for academia.  $fn->fn('work-lebow');</p>
        </blockquote>
    </article>

    <article>
        <h2>Code</h2>
        <blockquote>
            <p>I do web stuff  $fn->fn('code-stuff'); with languages, $fn->fn('code-lang');
                frameworks, $fn->fn('code-fw');
                <abbr title="and per se and" class="amp">&amp;</abbr>
                content management systems. $fn->fn('code-cms');</p>
        </blockquote>
    </article>

    <article>
        <h2>Mind</h2>
        <blockquote>
            <p>I undergrad-ed at an art school, $fn->fn('mind-ug'); then I grad-ed at a technology school, $fn->fn('mind-gr'); <abbr title="and per se and" class="amp">&amp;</abbr> now I'm self-educating.</p>
        </blockquote>
    </article>

    <article>
        <h2>Play</h2>
        <blockquote>
            <p>I live in Philadelphia. I ride my bicycle, I make noise $fn->fn('play-sr'); $fn->fn('play-lockets');, <abbr title="and per se and" class="amp">&amp;</abbr> I watch MacGyver.</p>
        </blockquote>
    </article>
</main>
